a .arrow-link {
    padding-left: 8px;
    transition-duration: 0.3s;
}

a:hover .arrow-link {
    padding-left: 12px;
    transition-duration: 0.3s;
}


a .correction {
    padding-left: 0px;
    transition-duration: 0.3s;
}

a:hover .correction {
    padding-left: 4px !important;
    transition-duration: 0.3s;
}

.hide {
    bottom: -100%;
    transition-duration: 0.3s;
}

.show {
    bottom: 20px;
    transition-duration: 0.3s;
}