.woocommerce-result-count,
.woocommerce-ordering {
    display: none !important;
}


.woocommerce-notices-wrapper {
    display: none !important;
}

.custom-checkout {

    .woocommerce-billing-fields {


        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        .postcode-eu-autofill {
            order: 3 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 8 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 3 !important;

        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 5 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 6 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            .postcode-eu-autofill {
                order: 3 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 7 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 8 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 100% !important;
                order: 3 !important;

            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 4 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 5 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 6 !important;
            }
        }


        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
        }

        h3 {
            display: none !important;
        }



    }

    .woocommerce-form__label-for-checkbox {
        width: 100% !important;
        cursor: pointer;
    }

    .wc_payment_method label img {
        display: none !important;
    }

    li.wc_payment_method {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    #add_payment_method #payment div.payment_box,
    .woocommerce-cart #payment div.payment_box,
    .woocommerce-checkout #payment div.payment_box {
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin-top: 0px !important;
        margin-bottom: 15px !important;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #fff !important;
        color: #000 !important;
        margin-left: 13px !important;
    }

    #add_payment_method #payment ul.payment_methods li,
    .woocommerce-cart #payment ul.payment_methods li,
    .woocommerce-checkout #payment ul.payment_methods li {
        line-height: 2.2 !important;
        text-align: left;
        margin: 0;
        font-family: Jost, sans-serif;
        font-weight: 400
    }

    .payment_box select {
        height: 52px !important;
        border: 1px solid #DEDEDE !important;
        min-width: 306px !important;
        margin-top: 10px !important;
    }

    #add_payment_method #payment div.payment_box::before,
    .woocommerce-cart #payment div.payment_box::before,
    .woocommerce-checkout #payment div.payment_box::before {
        display: none !important;
    }

    #billing_address_1::placeholder,
    #shipping_address_1::placeholder {
        font-size: 0 !important;
    }

    .woocommerce-form-coupon-toggle {
        display: none !important;
    }

    .korting .woocommerce-form-coupon-toggle {
        display: flex !important;
    }

    .notice .woocommerce-notices-wrapper {
        display: none !important;
    }

    .notice .woocommerce-form-coupon {
        display: none !important;
    }

    .korting {

        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {
            padding: 0px !important;
            margin: 0px !important;
            position: relative;
            background-color: #fff !important;
            color: #2B2828 !important;
            border-top: 0px solid #7f54b3 !important;
            list-style: none outside;
            width: auto;
            word-wrap: break-word;
        }

        .woocommerce-error::before,
        .woocommerce-info::before,
        .woocommerce-message::before {
            display: none !important;
        }

        .woocommerce form.checkout_coupon,
        .woocommerce form.login,
        .woocommerce form.register {
            border: 0px solid #cfc8d8 !important;
            padding: 0px 0px !important;
            margin: 0px !important;
            text-align: left;
            border-radius: 0px !important;
        }
    }

    // .woocommerce-error {
    //     display: none !important;
    // }

    .woocommerce-error {
        border-top-color: #f7f7f7 !important;
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message {
        width: 100% !important;
        padding: 1em 2em 1em 3.5em;
        margin: 0 0 2em;
        position: relative;
        background-color: #f7f7f7 !important;
        color: #000 !important;
        border-top: 0px solid #f7f7f7 !important;
        list-style: none outside;
        width: auto;
        word-wrap: break-word;
        font-family: Jost, sans-serif;
    }

    .woocommerce-error::before {
        content: "\e016";
        color: #000 !important;
    }

    * {
        font-family: Jost, sans-serif;
    }

    label {
        font-size: 13px !important;
        font-weight: 600 !important;
    }

    .woocommerce-checkout-review-order-table {
        display: none !important;
    }

    #add_payment_method #payment,
    .woocommerce-cart #payment,
    .woocommerce-checkout #payment {
        background: #fff !important;
        border-radius: 0px !important;
    }

    #add_payment_method #payment ul.payment_methods,
    .woocommerce-cart #payment ul.payment_methods,
    .woocommerce-checkout #payment ul.payment_methods {
        padding: 0px !important;
        border-bottom: 0px solid #cfc8d8 !important;
    }

    #add_payment_method #payment div.form-row,
    .woocommerce-cart #payment div.form-row,
    .woocommerce-checkout #payment div.form-row {
        padding: 0px !important;
    }

    .woocommerce-additional-fields {
        display: none !important;
    }

    #ship-to-different-address-checkbox {
        display: none !important;
    }

    #ship-to-different-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        &::after {
            content: "+";
        }
    }

    .woocommerce-shipping-fields {

        #billing_first_name_field,
        #shipping_first_name_field {
            width: 100% !important;
            order: 1 !important;
        }

        #billing_last_name_field,
        #shipping_last_name_field {
            width: 100% !important;
            order: 2 !important;
        }

        #billing_phone_field,
        #shipping_phone_field {
            width: 100% !important;
            order: 3 !important;
        }

        #billing_email_field,
        #shipping_email_field {
            width: 100% !important;
            order: 4 !important;
        }

        #billing_country_field,
        #shipping_country_field {
            width: 100% !important;
            order: 5 !important;
        }


        #billing_address_1_field,
        #shipping_address_1_field {
            width: 100% !important;
            order: 6 !important;
        }

        #billing_postcode_field,
        #shipping_postcode_field {
            width: 100% !important;
            order: 7 !important;
        }

        #billing_city_field,
        #shipping_city_field {
            width: 100% !important;
            order: 8 !important;
        }

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 768px) {

            #billing_first_name_field,
            #shipping_first_name_field {
                width: 35% !important;
                order: 1 !important;
            }

            #billing_last_name_field,
            #shipping_last_name_field {
                width: 65% !important;
                order: 2 !important;
            }

            #billing_phone_field,
            #shipping_phone_field {
                width: 35% !important;
                order: 3 !important;
            }

            #billing_email_field,
            #shipping_email_field {
                width: 65% !important;
                order: 4 !important;
            }

            #billing_country_field,
            #shipping_country_field {
                width: 100% !important;
                order: 5 !important;
            }


            #billing_address_1_field,
            #shipping_address_1_field {
                width: 100% !important;
                order: 6 !important;
            }

            #billing_postcode_field,
            #shipping_postcode_field {
                width: 20% !important;
                order: 7 !important;
            }

            #billing_city_field,
            #shipping_city_field {
                width: 80% !important;
                order: 8 !important;
            }
        }




        #billing_company_field,
        #billing_address_2_field,
        #shipping_company_field,
        #shipping_address_2_field {
            display: none !important;
        }

        .woocommerce-billing-fields__field-wrapper,
        .woocommerce-shipping-fields__field-wrapper {
            display: flex !important;
            flex-direction: row !important;
            flex-wrap: wrap !important;
        }

        input {
            border: 1px solid #DEDEDE !important;
            height: 53px !important;
            padding-left: 10px !important;
        }

        .shipping_address {
            margin-top: 10px;
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
}

.stock {
    display: none !important;
}

.woocommerce-privacy-policy-text {
    color: #121212 !important;
}

.woocommerce-checkout .custom-checkout {
    .custom-afrekenen {
        display: block !important;
    }

    .custom-bedankt {
        display: none !important;
    }
}

.woocommerce-checkout.woocommerce-order-received .custom-checkout {
    .custom-afrekenen {
        display: none !important;
    }

    .custom-bedankt {
        display: block !important;
    }
}

.cart .applepay-button-container {
    display: none !important;
}



div.postcode-eu-autofill {
    width: 100% !important;
}

.postcode-eu-autofill-address {
    padding: 20px;
    font-size: 14px !important;
    background-color: #f9f9f9 !important;
}

#billing_postcodeEuAutofillNlPostcode_field,
#shipping_postcodeEuAutofillNlPostcode_field {
    width: 100% !important;
}

#billing_postcodeEuAutofillNlHouseNumberWithAddition_field,
#shipping_postcodeEuAutofillNlHouseNumberWithAddition_field {
    width: 100% !important;
}

@media only screen and (min-width: 768px) {

    #billing_postcodeEuAutofillNlPostcode_field,
    #shipping_postcodeEuAutofillNlPostcode_field {
        width: 35% !important;
    }

    #billing_postcodeEuAutofillNlHouseNumberWithAddition_field,
    #shipping_postcodeEuAutofillNlHouseNumberWithAddition_field {
        width: 65% !important;
    }


}

.postcode-eu-address-validation-warning {
    font-size: 10px !important;
}

.payment_method_buckaroo_afterpaynew fieldset {
    label {
        margin-top: 8px !important;
        font-size: 13px !important;
        font-weight: 600 !important;
        font-family: Jost, sans-serif;
        color: #000 !important;
    }

    input#buckaroo-afterpaynew-birthdate.input-text {
        border: 1px solid #DEDEDE !important;
        height: 53px !important;
        padding-left: 10px !important;
        font-family: Jost, sans-serif;
    }

    .required {
        display: none !important;
    }
}





// CART

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 100% !important;
}

button.update-cart {
    position: absolute !important;
    font-size: 15px !important;
    line-height: 29px !important;
    padding: 0px !important;
    font-weight: 400 !important;
    border-radius: 0px !important;
    color: #525252 !important;
    background-color: transparent !important;
    border: 0 !important;
    display: flex !important;

}

.woocommerce .quantity .qty {
    width: 50px !important;
    margin-left: 10px !important;
}

.woocommerce-remove-coupon {
    display: none !important;
}

.woocommerce table.shop_table {
    border: 0px solid rgba(0, 0, 0, .1) !important;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;

    tr {
        border: 0px !important;
    }

    th,
    td {
        border-top: 0px !important;
        padding: 0px !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        line-height: 30px !important;
        color: #000000 !important;
        font-weight: 500 !important;
    }

    td {
        text-align: right !important;
    }

    .order-total td,
    .order-total th,
    .order-total td::before {
        font-weight: 700 !important;
    }

    strong {
        font-weight: 700 !important;
    }


}

.cart_totals h2 {
    display: none !important;
}

.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: transparent !important;
}

.woocommerce table.shop_table_responsive tr td::before,
.woocommerce-page table.shop_table_responsive tr td::before {
    font-weight: 400 !important;
}

.checkout-button {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    height: 55px !important;
    font-size: 15px !important;
    letter-spacing: 0.02em !important;
    transition-duration: 300ms;

    // MD
    @media (min-width: 768px) {
        height: 47px !important;
        font-size: 15px !important;

        &:hover {
            opacity: 0.8 !important;
            transition-duration: 300ms;
        }
    }



    // XL
    @media (min-width: 1352px) {
        height: 52px !important;
        font-size: 16px !important;
    }

    position: relative !important;
    align-content: center !important;
    align-items: center !important;
    border-radius: 2px !important;
    background-color: #2e2e2e !important;
    color: #fff !important;
    font-family: Jost !important;
    font-weight: 400 !important;

    -webkit-font-smoothing: unset !important;


}

.includes_tax {
    display: none !important;
}

.woocommerce-cart-form__cart-item {
    dl {
        display: flex;

        dt {
            display: none !important;
        }

        dd {
            margin-right: 5px !important;
            font-family: Jost, sans-serif !important;
            font-size: 12px !important;
            line-height: 15px !important;
            color: #000 !important;
            font-weight: 400 !important;
        }
    }
}

.single-product .input-quantity {
    display: none !important;
}


.mollie-components .mollie-component-label {
    font-weight: 600 !important;
    font-size: 13px !important;
}

.mollie-components .mollie-component {
    border: 1px solid #dedede !important;
    height: 53px !important;
    padding-left: 10px !important;
    border-radius: 0px !important;
    box-shadow: unset !important;
    color: #000 !important;
    margin-top: 2px !important;
}

.mollie-components .mollie-component iframe {
    border-radius: 0px !important;
    margin: 0;
    margin-top: 18.5px !important;
    padding-left: 12px !important;
}

#add_payment_method #payment div.payment_box p:last-child,
.woocommerce-cart #payment div.payment_box p:last-child,
.woocommerce-checkout #payment div.payment_box p:last-child {
    margin-bottom: 0;
    margin-top: 30px !important;
}

.mollie-components-description svg {
    margin-bottom: 5px !important;
}

// #billing_country_field,
// #shipping_country_field {
//     .woocommerce-input-wrapper {
//         border: 1px solid #dedede !important;
//         height: 53px !important;
//         padding-left: 10px !important;
//         display: flex !important;
//         align-items: center !important;

//         strong {
//             font-weight: 400 !important;
//         }
//     }
// }

.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border-radius: 0px !important;
    border: 1px solid #dedede !important;
    height: 53px !important;
    padding-left: 0px !important;
    display: flex !important;
    align-items: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 53px !important;
    position: absolute !important;
    top: 1px !important;
    right: 16px !important;
    width: 20px !important;
}

.select2-dropdown {
    margin-top: -43px !important;
    border: 1px solid #dedede !important;
    border-radius: 0px !important;

    @media (min-width: 768px) {
        margin-top: -30px !important;
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: #2e2e2e !important;
    color: #fff !important;
}

#billing_state_field,
#shipping_state_field {
    order: 6 !important;
    width: 100% !important;
}